@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

body {
  background-image: url("./assets/endless-constellation.svg");
  font-family: "Poppins", sans-serif;
}


.tracking-in-expand-fwd-top{animation:tracking-in-expand-fwd-top .8s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}

.typing-demo {
  width: 100ch;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  white-space: wrap;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}